body{
    background-color: #f1b8b8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    padding:140px;
    margin:60px;
    padding-left: 20px;;
}
.control{
    margin: 20px;
}   
.start{
    background-color: #6e47f9;
    border: solid 1px #151515;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
}
.stop{
    background-color: #6431fe;
    border: solid 1px #151515;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
}
.reset{
    background-color: #6d40fe;
    border: solid 1px #151515;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
}
.display{
    font-size: 30px;
    padding:5px 5px;
    margin:60px;
    border: 1px #151515;
    background-color: #f1b8b8;
    color: #151515;
    border-radius: 5px;
}